In [3]:
import kashgari

In [4]:
from kashgari.embeddings import BertEmbedding

In [5]:
from kashgari.tasks.classification import BiLSTM_Model

In [6]:
from kashgari.tasks.classification import CNN_LSTM_Model

In [16]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [13]:
import numpy as np
from nltk.tokenize import RegexpTokenizer
import string
import os
import pandas as pd
import contractions as cont_lib
from tqdm import tqdm
import re

In [32]:
df = pd.read_csv('twitter-2013train-A.txt',sep="\t",names=['ID','label','text'])
df

,ID,label,text
0,264183816548130816,positive,Gas by my house hit $3.39!!!! I\u2019m going t...
1,263405084770172928,negative,Theo Walcott is still shit\u002c watch Rafa an...
2,262163168678248449,negative,its not that I\u2019m a GSP fan\u002c i just h...
3,264249301910310912,negative,Iranian general says Israel\u2019s Iron Dome c...
4,262682041215234048,neutral,Tehran\u002c Mon Amour: Obama Tried to Establi...
...,...,...,...
9679,103158179306807296,positive,RT @MNFootNg It's monday and Monday Night Foot...
9680,103157324096618497,positive,All I know is the road for that Lomardi start ...
9681,100259220338905089,neutral,"All Blue and White fam, we r meeting at Golden..."
9682,104230318525001729,positive,@DariusButler28 Have a great game agaist Tam...
9683,100461938533863424,negative,I'm pisseeedddd that I missed Kid Cudi's show ...

In [33]:
#Cleaning the tweets
def decontracted(phrase):
    # specific
    phrase = re.sub(r"won't", "will not", phrase)
    phrase = re.sub(r"can\'t", "can not", phrase)

    # general
    phrase = re.sub(r"n\'t", " not", phrase)
    phrase = re.sub(r"\'re", " are", phrase)
    phrase = re.sub(r"\'s", " is", phrase)
    phrase = re.sub(r"\'d", " would", phrase)
    phrase = re.sub(r"\'ll", " will", phrase)
    phrase = re.sub(r"\'t", " not", phrase)
    phrase = re.sub(r"\'ve", " have", phrase)
    phrase = re.sub(r"\'m", " am", phrase)
    return phrase

def clean(text):
    text = str(text)
    text = text.lower()
    text = re.sub(r'http\S+', ' ', text)
    text = re.sub(r'pic.twitter\S+', ' ', text)
    text = decontracted(text)
    text = re.sub(r'\(([^)]+)\)', " ", text)
    text = re.sub('@[\w]+','',text)
    text = re.sub(r'[^a-zA-Z ]+', ' ', text)
    text = re.sub(r' \w{1,2}_', ' ', text)
    text = re.sub('\s+',' ', text)
    return text

In [34]:
for i in tqdm(df.itertuples()):
    df.at[i[0], 'tweet'] = clean(i[3])

9684it [00:00, 29698.77it/s]

In [35]:
df

,ID,label,text,tweet
0,264183816548130816,positive,Gas by my house hit $3.39!!!! I\u2019m going t...,gas by my house hit i u m going to chapel hill...
1,263405084770172928,negative,Theo Walcott is still shit\u002c watch Rafa an...,theo walcott is still shit u c watch rafa and ...
2,262163168678248449,negative,its not that I\u2019m a GSP fan\u002c i just h...,its not that i u m a gsp fan u c i just hate n...
3,264249301910310912,negative,Iranian general says Israel\u2019s Iron Dome c...,iranian general says israel u s iron dome can ...
4,262682041215234048,neutral,Tehran\u002c Mon Amour: Obama Tried to Establi...,tehran u c mon amour obama tried to establish ...
...,...,...,...,...
9679,103158179306807296,positive,RT @MNFootNg It's monday and Monday Night Foot...,rt it is monday and monday night football is o...
9680,103157324096618497,positive,All I know is the road for that Lomardi start ...,all i know is the road for that lomardi start ...
9681,100259220338905089,neutral,"All Blue and White fam, we r meeting at Golden...",all blue and white fam we r meeting at golden ...
9682,104230318525001729,positive,@DariusButler28 Have a great game agaist Tam...,have a great game agaist tampa bay tonight
9683,100461938533863424,negative,I'm pisseeedddd that I missed Kid Cudi's show ...,i am pisseeedddd that i missed kid cudi is sho...

In [36]:
data = df[['label','tweet']].copy()

In [37]:
data

         label                                              tweet
0     positive  gas by my house hit i u m going to chapel hill...
1     negative  theo walcott is still shit u c watch rafa and ...
2     negative  its not that i u m a gsp fan u c i just hate n...
3     negative  iranian general says israel u s iron dome can ...
4      neutral  tehran u c mon amour obama tried to establish ...
...        ...                                                ...
9679  positive  rt it is monday and monday night football is o...
9680  positive  all i know is the road for that lomardi start ...
9681   neutral  all blue and white fam we r meeting at golden ...
9682  positive        have a great game agaist tampa bay tonight
9683  negative  i am pisseeedddd that i missed kid cudi is sho...

[9684 rows x 2 columns]

In [38]:
def tokenize (text):
    tokens = [word.strip(string.punctuation) for word in RegexpTokenizer(r'\b[a-zA-Z][a-zA-Z0-9]{1,50}\b').tokenize(text)]
    return tokens

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
train = pd.DataFrame(columns=['label', 'tweet'])
validation = pd.DataFrame(columns=['label', 'tweet'])
for label in data.label.unique():
    emotion_data = data[data.label == label]
    train_data, validation_data = train_test_split(emotion_data, test_size=0.3)
    train = pd.concat([train, train_data])
    validation = pd.concat([validation, validation_data])

In [41]:
train

         label                                              tweet
534   positive  happy valentines day via i used to watch this ...
2751  positive   just wait till we u re getting classy with wi...
5999  positive   o inbetweeners movie a week today aaaahhhh mi...
2706  positive  dr eggs live in hong kong with an another supe...
2030  positive  im embracing the oversized sun glass look with...
...        ...                                                ...
3811   neutral  several new series available friday at the all...
9365   neutral  spc is bring giuliana and bill rancic for brea...
3991   neutral   i u m at my friends for lunch tomorrow on nor...
640    neutral  did you get a full u c part time job or intern...
3323   neutral   here are the official settings for gears for ...

[6778 rows x 2 columns]

In [42]:
validation

         label                                              tweet
8911  positive  thanks for everyone who came out for day of wo...
5867  positive  all of the real democrats won their respective...
8594  positive   morning austin i u m going to bed now hahha p...
5025  positive   i think you can get them on ticketek and they...
8835  positive  happy birthday haryana may you get the best in...
...        ...                                                ...
4130   neutral  here u s all you need to know about upcoming l...
277    neutral  mohamed nasheed u s press brief about coni rep...
4012   neutral  grappling with corruption and business in braz...
5369   neutral  want to have the happiest baby on the block co...
3105   neutral  world tomorrow with julian assange wikileaks a...

[2906 rows x 2 columns]

In [43]:
train['tweet']=train['tweet'].apply(lambda x:tokenize(x))

In [44]:
train

         label                                              tweet
534   positive  [happy, valentines, day, via, used, to, watch,...
2751  positive  [just, wait, till, we, re, getting, classy, wi...
5999  positive  [inbetweeners, movie, week, today, aaaahhhh, m...
2706  positive  [dr, eggs, live, in, hong, kong, with, an, ano...
2030  positive  [im, embracing, the, oversized, sun, glass, lo...
...        ...                                                ...
3811   neutral  [several, new, series, available, friday, at, ...
9365   neutral  [spc, is, bring, giuliana, and, bill, rancic, ...
3991   neutral  [at, my, friends, for, lunch, tomorrow, on, no...
640    neutral  [did, you, get, full, part, time, job, or, int...
3323   neutral  [here, are, the, official, settings, for, gear...

[6778 rows x 2 columns]

In [45]:
train_data = np.array(train['tweet'])#np.ndarray()
train_x=train_data.tolist()
train_data_y = np.array(train['label'])#np.ndarray()
train_y=train_data_y.tolist()

In [46]:
validation['tweet']=validation['tweet'].apply(lambda x:tokenize(x))
test_data = np.array(validation['tweet'])#np.ndarray()
test_x=test_data.tolist()
test_data_y = np.array(validation['label'])#np.ndarray()
test_y=test_data_y.tolist()

In [57]:
bert_embedding = BertEmbedding('bert-base-uncased', sequence_length=30)                                   
model = CNN_LSTM_Model(bert_embedding)

FileNotFoundError: [Errno 2] No such file or directory: 'bert-base-uncased\\vocab.txt'

In [55]:
model = BiLSTM_Model()
model.fit(train_x, train_y, test_x, test_y)

# Evaluate the model
model.evaluate(test_x, test_y)

# Model data will save to `saved_ner_model` folder
model.save('saved_classification_model')

# Load saved model
loaded_model = BiLSTM_Model.load_model('saved_classification_model')
loaded_model.predict(test_x[:10])

# To continue training, compile the newly loaded model first
loaded_model.compile_model()
model.fit(train_x, train_y, test_x, test_y)

Preparing text vocab dict: 100%|██████████| 6778/6778 [00:00<00:00, 225892.26it/s]
Preparing text vocab dict: 100%|██████████| 2906/2906 [00:00<00:00, 223476.79it/s]
2022-04-10 16:06:41,149 [DEBUG] kashgari - --- Build vocab dict finished, Total: 5249 ---
2022-04-10 16:06:41,149 [DEBUG] kashgari - Top-10: ['[PAD]', '[UNK]', '[CLS]', '[SEP]', 'the', 'to', 'in', 'on', 'and', 'is']
Preparing classification label vocab dict: 100%|██████████| 6778/6778 [00:00<00:00, 1694218.86it/s]
Preparing classification label vocab dict: 100%|██████████| 2906/2906 [00:00<00:00, 2905517.86it/s]
Calculating sequence length: 100%|██████████| 6778/6778 [00:00<00:00, 1694218.86it/s]
Calculating sequence length: 100%|██████████| 2906/2906 [00:00<00:00, 2906210.64it/s]
2022-04-10 16:06:42,284 [DEBUG] kashgari - Calculated sequence length = 25
2022-04-10 16:06:43,399 [DEBUG] kashgari - Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input (InputLayer)           [(None, None)]            0
_________________________________________________________________
layer_embedding (Embedding)  (None, None, 100)         524900
_________________________________________________________________
bidirectional (Bidirectional (None, 256)               234496
_________________________________________________________________
dense (Dense)                (None, 3)                 771
_________________________________________________________________
activation (Activation)      (None, 3)                 0
=================================================================
Total params: 760,167
Trainable params: 760,167
Non-trainable params: 0
_________________________________________________________________

Epoch 1/5
105/105 [==============================] - 11s 35ms/step - loss: 0.8869 - accuracy: 0.6420 - val_loss: 1.3144 - val_accuracy: 0.4726
Epoch 2/5
105/105 [==============================] - 2s 19ms/step - loss: 0.9640 - accuracy: 0.5489 - val_loss: 1.2964 - val_accuracy: 0.4740
Epoch 3/5
105/105 [==============================] - 2s 19ms/step - loss: 0.8151 - accuracy: 0.6470 - val_loss: 1.1605 - val_accuracy: 0.5503
Epoch 4/5
105/105 [==============================] - 2s 18ms/step - loss: 0.6684 - accuracy: 0.7300 - val_loss: 1.0788 - val_accuracy: 0.5910
Epoch 5/5
105/105 [==============================] - 2s 18ms/step - loss: 0.5241 - accuracy: 0.8018 - val_loss: 1.1038 - val_accuracy: 0.5861

2022-04-10 16:07:02,402 [WARNING] kashgari - Sequence length is None, will use the max length of the samples, which is 32
2022-04-10 16:07:02,431 [DEBUG] kashgari - predict input shape (2906, 32) x:
[[  2 268  11 ...   0   0   0]
 [  2  31  10 ...   0   0   0]
 [  2  96 918 ...   0   0   0]
 ...
 [  2   1  16 ...   0   0   0]
 [  2  92   5 ...   0   0   0]
 [  2 132  15 ...   0   0   0]]
2022-04-10 16:07:04,411 [DEBUG] kashgari - predict output shape (2906, 3)
2022-04-10 16:07:04,414 [DEBUG] kashgari - predict output argmax: [1 0 1 ... 0 0 0]
2022-04-10 16:07:04,506 [INFO] kashgari - model saved to F:\jupyter\Twitter_Sentiment\saved_classification_model

              precision    recall  f1-score   support

    negative     0.3800    0.0434    0.0779       438
     neutral     0.5574    0.8932    0.6864      1376
    positive     0.7220    0.4304    0.5393      1092

    accuracy                         0.5912      2906
   macro avg     0.5531    0.4557    0.4345      2906
weighted avg     0.5925    0.5912    0.5394      2906

2022-04-10 16:07:05,859 [WARNING] kashgari - Sequence length is None, will use the max length of the samples, which is 26
2022-04-10 16:07:05,861 [DEBUG] kashgari - predict input shape (10, 26) x:
[[   2  268   11  228   86  370   29   11   23   10  132  246  424   30
    82   39   12   15   13   63   11 2651    1  809  146    3]
 [   2   31   10    4  207  961  216  149    1 3140   21  427    7  358
     4    1 4018  193    1    7  220    1    3    0    0    0]
 [   2   96  918   28    5  470   61    1   71    6  492 1056 1502 2510
  2807   15  327   38  391  660    3    0    0    0    0    0]
 [   2   89   12   42   52  157    7 2266    8   68   55    7  480   15
    89    3    0    0    0    0    0    0    0    0    0    0]
 [   2  120  145 1861   24   12   52    4  107    6  374    5   73    3
     0    0    0    0    0    0    0    0    0    0    0    0]
 [   2   41  103   30   55  209    4  300  572   16  513  110  126 1152
    43  381 1473    1  132  731   94   14  587    7  977    3]
 [   2    1   13    4 1327 1645 2694    1  881    1 5038   85  112   95
    65   44   30 1017   14    3    0    0    0    0    0    0]
 [   2    1    5   39    1    1 4052 1850    8    1  741    4  836    7
    13    1  118  877    1    3    0    0    0    0    0    0]
 [   2  268  259 4211    7  733   43    6 2256   11    4 4211 2775    6
  2620   10 4970  138   29   23    1    3    0    0    0    0]
 [   2  133   12  183   83   69  171    1   11 2399   15   25   13    1
  1715   16  381 2992   50    3    0    0    0    0    0    0]]
2022-04-10 16:07:07,397 [DEBUG] kashgari - predict output shape (10, 3)
2022-04-10 16:07:07,398 [DEBUG] kashgari - predict output argmax: [1 0 1 0 1 0 0 0 1 0]
2022-04-10 16:07:07,402 [DEBUG] kashgari - Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input (InputLayer)           [(None, None)]            0
_________________________________________________________________
layer_embedding (Embedding)  (None, None, 100)         524900
_________________________________________________________________
bidirectional (Bidirectional (None, 256)               234496
_________________________________________________________________
dense (Dense)                (None, 3)                 771
_________________________________________________________________
activation (Activation)      (None, 3)                 0
=================================================================
Total params: 760,167
Trainable params: 760,167
Non-trainable params: 0
_________________________________________________________________

Epoch 1/5
105/105 [==============================] - 2s 20ms/step - loss: 0.4391 - accuracy: 0.8442 - val_loss: 1.1788 - val_accuracy: 0.6021
Epoch 2/5
105/105 [==============================] - 2s 20ms/step - loss: 0.2996 - accuracy: 0.8974 - val_loss: 1.3386 - val_accuracy: 0.5646
Epoch 3/5
105/105 [==============================] - 2s 19ms/step - loss: 0.2196 - accuracy: 0.9257 - val_loss: 1.4885 - val_accuracy: 0.5497
Epoch 4/5
105/105 [==============================] - 2s 19ms/step - loss: 0.1169 - accuracy: 0.9634 - val_loss: 1.7049 - val_accuracy: 0.5524
Epoch 5/5
105/105 [==============================] - 2s 19ms/step - loss: 0.0791 - accuracy: 0.9760 - val_loss: 1.8467 - val_accuracy: 0.5465